<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842571916612-b6tm7hhkpko24jnlgceloevs8bc3eh94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842571916612-b6tm7hhkpko24jnlgceloevs8bc3eh94</string>
	<key>API_KEY</key>
	<string>AIzaSyAROjIZITVLOfQGkcPaE2lH_bHjZNSI2kM</string>
	<key>GCM_SENDER_ID</key>
	<string>842571916612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.money</string>
	<key>PROJECT_ID</key>
	<string>money-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>money-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842571916612:ios:0c9b6cfa3bb8849ec7a311</string>
</dict>
</plist>